# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# C source files
[*.{c,h}]
indent_style = space
indent_size = 4

# Makefiles require tabs
[Makefile]
indent_style = tab

# Documentation
[*.md]
trim_trailing_whitespace = false
